In [17]:
!pip install requests

import pandas as pd
import requests
url = "https://ko.wikipedia.org/wiki/%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD%EC%9D%98_%EC%9D%B8%EA%B5%AC"
headers = {"User-Agent": "Mozilla/5.0"}
res = requests.get(url, headers=headers)

tables = pd.read_html(res.text)
print(len(tables))
print(tables[0])

Requirement already satisfied: requests in c:\users\wjdxo\anaconda3_1\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\wjdxo\anaconda3_1\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\wjdxo\anaconda3_1\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\wjdxo\anaconda3_1\lib\site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\wjdxo\anaconda3_1\lib\site-packages (from requests) (2025.4.26)
34
   Unnamed: 0_level_0    2016           2017          2018          2019  \
   Unnamed: 0_level_1      인구   인구밀도      인구   인구밀도     인구   인구밀도     인구
0                   계   51218    510   51362    512  51607    514  51709
1                  서울    9843  16263    9766  16136   9705  16034   9662
2                  부산  약3,500   4477  약3,100   4447   3400   4416   3300
3                  대구    2461   2786    2458   2782   2450   2773   2432
4                  인천    2907   2736    2924   2750   2939   2764   2944
5                  광주    1502   2997    1495   2984   1493   2980   1494
6                  대전    1536   2848    1528   2832   1518   2813   1509
7                  울산    1166   1099    1159   1092   1154   1088   1147
8                  세종     234    504     266    571    304    653    331
9                  경기   12600   1237   12786   1255  13031   1279  13238
10                 강원    1521     90    1521     90   1521     90   1517
11                 충북    1601    216    1609    217   1619    219   1626
12                 충남    2126    258    2153    262   2180    265   2188
13                 전북    1835    227    1829    227   1820    226   1803
14                 전남    1798    146    1795    146   1790    145   1773
15                 경북    2683    141    2675    141   2674    141   2665
16                 경남    3338    317    3339    317   3356    318   3350
17                 제주     618    334     635    343    653    353    660
18                수도권   25350   2139   25476   2149  25675   2165  25844

            2020
     인구밀도     인구   인구밀도
0     515  51781    516
1   15964   9602  15865
2    4380   3344   4342
3    2753   2419   2738
4    2769   2951   2770
5    2980   1488   2969
6    2796   1500   2780
7    1080   1140   1073
8     712    349    750
9    1299  13405   1315
10     90   1515     90
11    219   1632    220
12    265   2204    267
13    223   1792    222
14    144   1764    143
15    140   2655    140
16    318   3350    318
17    356    670    362
18   2179  25958   2188

C:\Users\wjdxo\AppData\Local\Temp\ipykernel_14808\3838103786.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(res.text)